<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="__HOME__/css/iconfont.css" />
<link rel="stylesheet" href="__HOME__/css/amazeui.min.css" />
<link rel="stylesheet" href="__HOME__/css/style.min.css" />
<script src="__HOME__/js/jquery.min.js"></script>
<script src="__HOME__/js/amazeui.min.js"></script>
<script src="__HOME__/js/jquery.SuperSlide.2.1.3.js"></script>
<script src="__HOME__/js/main.js"></script>
<script src="__HOME__/js/domFun.js"></script>
<script src="__HOME__/js/events.js"></script>
<script src="__HOME__/js/classify.js"></script>
<script src="__HOME__/js/goods_list.js"></script>